html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, h7, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, dayLineDark {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: #444;
	font-family: Open Sans;
    font-size: 0.875em;
    line-height: 200%;
}
ol, ul {
	list-style: square;
    margin: 1em 0em 0em 0em;
    text-align: left;
    color:black;
    background: #FFF;
    font-family: Open Sans;
    padding: 0em 0em 1em 1em;
}
li {
    line-height: 200%;
    font-family: Open Sans;
    margin: 0em 0em 1em 0em;
}

/* Slots Setup */
.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5{ display:inline; float:left; margin:0 0 0 0; }

/* 6-Col Grid Sizes */
.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5{ width:33%; }

/* Row Clearfix */
.row:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.row{ zoom:1; }

.dayLineDark{
    background-color: #f4f4f4;
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:95%;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.dayLineLight{
    background-color: #f4f4f4;
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:95%;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.GdayLineDark{
    background-color: rgb(141, 211, 95);
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:95%;
    border-bottom: 1px solid #8ac116;
}
.G2dayLineDark{
    background-color: rgb(141, 211, 95);
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:47.5%;
    border-bottom: 1px solid #8ac116;
}
.G22dayLineDark{
    background-color: rgb(141, 211, 95);
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:47.5%;
    display:inline;
    float: left;
    border-bottom: 1px solid #8ac116;
}
.GdayLineLight{
    background-color: rgb(141, 211, 95);
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:95%;
    border-bottom: 1px solid #88c660;
}
.RRdayLineDark{
    background-color: rgb(225, 140, 140);
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:95%;
    border-bottom: 1px solid rgb(190, 140, 140);
}
.RRdayLineLight{
    background-color: rgb(225, 140, 140);
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:95%;
    border-bottom: 1px solid  rgb(200, 140, 140);
}
.RdayLineDark{
    background-color: rgb(230, 230, 230);
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:95%;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.RdayLineLight{
    background-color: rgb(230, 230, 230);
    position: relative;
    margin-left: 2.5%;
    height:2em;
    width:95%;
    border-bottom: 1px solid  rgb(215, 215, 215);
}
.time{
    position: absolute;
    line-height: 100%;
    font-size: 0.5em;
    font-family: Open Sans;
    color: rgb(120, 120, 120);
    text-align:left;
    bottom: 0;
}

.name{
    width: 100%;
    position: absolute;
    line-height: 100%;
    font-size: 0.5em;
    font-family: Open Sans;
    color: rgb(120, 120, 120);
    text-align:center;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: Open Sans;
}

/* Font for the main title */
h1 {
	font-size: 4em;
    color: rgb(55, 55, 200);
    text-align:center;
    padding: 0.5em 0 0.5em;
}

/* Font for the line under the main title */
h2 {
    font-size: 2em;
    color: rgb(55, 55, 200);
    text-align:center;
    padding: 0.5em 0 0.5em;
}

/* Font for tiles of papragraphs */
h3 {
	font-size: 1.5em;
    text-align:left;
    color: black;
    font-weight: bold;
}

/* Font for contact details */
h4 {
    font-size: 1em;
    color: rgb(128, 128, 128);
    text-align:center;
    padding: 0.5em 0 2em;
}

/* Font for links in the header */
h5 {
    font-size: 1em;
    color: rgb(128, 128, 128);
    text-align:center;
    padding: 0.2em;
    margin: 0em 0 0.5em;
}

/* Font for day titles on timetables */
h6 {
    text-align: center;
    font-size: 1.5em;
    color: black;
    padding: 1.5em 0 0.5em;
}

/* Font for paragraphs the main title */

p {
    font-size: 1em;
    text-align:left;
    color: black;
    margin: 1em 0em 0.0em 0em;
}

.footer p {
    text-align:center;
    color: rgb(220, 220, 220);
    font-size: 0.875em;
}

/* Font for links */
a, a:link, a:visited {
    text-decoration:none;
}

.header-grid .row a {
    font-size: 1em;
    color: rgb(128, 128, 128);
    text-align:center;
    margin: 1em 0em 0.0em 0em;
}


.header-grid .row a:hover, a:active {
    font-size: 1em;
    font-weight: bold;
}

/* Grid style */
.grid {
	padding: 0 20px;
}

.row {
    margin-bottom: 0em;
}

/* Lines */
.line {
    height:0;
    border-bottom: 1px solid rgb(128, 128, 128);
    width:99.5%;
}

/* Spacers */
.spacer{
    width:99.5%;
    border:0px dashed red
}

/* Containers */
.container{
    position: relative;
    width:99.5%;
    display:table;
    border:0px dashed red
}

.imgframe
{ background:#ffffff;
    padding:12px;
    border:1px solid #999999; }